@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="main-content">
        <article class="content px-4">
            @Body
        </article>

        <!-- AdSense annonsenhet -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-6884239427315954"
             data-ad-slot="f08c47fec0942fa0"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </main>

    <div class="right-panel">
        <!-- Content for the right panel -->
    </div>
</div>

<footer class="fixed-footer">
    © 2024 Shattap. All rights reserved.
</footer>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6884239427315954"
        crossorigin="anonymous"></script>

<meta name="google-adsense-account" content="ca-pub-6884239427315954">
