<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Shattap</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="products">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Shop
            </NavLink>
        </div> *@

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cs2cases">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> CS2 Cases
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="empowered_elevation">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Empowered Elevation
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="globalnews">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Global News
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="swedish_media">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Swedish Media
            </NavLink>
        </div>
    </nav>
</div>
