<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="google-adsense-account" content="ca-pub-6884239427315954">

    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="TwitterAccountsBlazorWebpage.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <!-- AdSense-kod -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6884239427315954"
            crossorigin="anonymous">
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LS3BLV7QG5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-LS3BLV7QG5');
    </script>

    <HeadOutlet />
</head>

<body>
    <Routes />
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </environment>
        <environment include="Development">
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </environment>
    </div>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
