@page "/"

<PageTitle>Shattap</PageTitle>

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Welcome to <strong>Shattap</strong></h1>
        <p class="lead">Your Ultimate Hub</p>
    </div>

    <div class="nav-scrollable mt-5">
        <nav class="nav flex-column text-center">
            @* <div class="nav-item p-3 mb-3 bg-light rounded shadow-sm">
                <NavLink class="nav-link text-dark" href="products">
                    <span class="bi bi-basket3" aria-hidden="true"></span> Shop
                </NavLink>
            </div> *@

            <div class="nav-item p-3 mb-3 bg-light rounded shadow-sm">
                <NavLink class="nav-link text-dark" href="cs2cases">
                    <span class="bi bi-box" aria-hidden="true"></span> CS2 Cases
                </NavLink>
            </div>

            <div class="nav-item p-3 mb-3 bg-light rounded shadow-sm">
                <NavLink class="nav-link text-dark" href="empowered_elevation">
                    <span class="bi bi-bar-chart" aria-hidden="true"></span> Empowered Elevation
                </NavLink>
            </div>

            <div class="nav-item p-3 mb-3 bg-light rounded shadow-sm">
                <NavLink class="nav-link text-dark" href="globalnews">
                    <span class="bi bi-globe" aria-hidden="true"></span> Global News
                </NavLink>
            </div>

            <div class="nav-item p-3 mb-3 bg-light rounded shadow-sm">
                <NavLink class="nav-link text-dark" href="swedish_media">
                    <span class="bi bi-flag" aria-hidden="true"></span> Swedish Media
                </NavLink>
            </div>
        </nav>
    </div>
</div>
